@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;

}
:root {
  --main-color-turquoise: #27dcc4;
  --main-color-red: #da3456;
  --main-color-red2: #bc1f3f;
  --main-color-black: #1e1e1e;
  --main-color-black-2: #3d3d3d;
  --main-color-yellow: #edc335;
  --main-color-gray-1: #bfbfbf;
  --main-color-gray-2: #f5f6fa;
  --main-color-gray-3: #848491;
  --main-color-gray-4: #504f5f;
  --main-color-blue: #06a7e2;
  --main-color-white2: #fefefe;
  --main-color-blue-2: #98dcf5;
}

.bg-turquoise {
  background-color: var(--main-color-turquoise);
}
.bg-red {
  background-color: var(--main-color-red);
}
.bg-red:hover {
  background-color: var(--main-color-red2);
}
.bg-red-deep {
  background-color: var(--main-color-red2);
}
.bg-main-black {
  background-color: var(--main-color-black);
}
.bg-main-black-2 {
  background-color: var(--main-color-black-2);
}
.bg-main-yellow {
  background-color: var(--main-color-yellow);
}
.bg-main-gray {
  background-color: var(--main-color-gray-2);
}
.bg-main-gray4 {
  background-color: var(--main-color-gray-4);
}
.bg-color-white2 {
  background-color: var(--main-color-white2);
}
.bg-color-blue-2 {
  background-color: var(--main-color-blue-2);
}
.bg-clip-yellow {
  background-image: url(assets/img/clipShape.png);
  background-repeat: no-repeat;
}
.text-black-1 {
  color: var(--main-color-black);
}
.text-gray-1 {
  color: var(--main-color-gray-1);
}
.text-gray-2 {
  color: var(--main-color-gray-2);
}
.text-blue-1 {
  color: var(--main-color-blue);
}
.text-gray-3 {
  color: var(--main-color-gray-3);
}

.bottom-20 {
  bottom: 10px;
}
.top-35 {
  top: 35px;
}
.top-50 {
  top: 50%;
}
.rotate-25 {
  --transform-rotate: 25deg;
}
.right-210 {
  right: -210px;
}

.pb-60 {
  padding-bottom: 60%;
}
.min-h-32 {
  min-height: 8rem;
}
.z-2 {
  z-index: 2;
}
/* toggle mobile menu  */
.toggle-menu {
  height: 0;
  overflow: hidden;
  transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.customInvisible {
  visibility: hidden;
}

/* hero carousel */
.carousel-item {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.carousel-control {
  cursor: pointer;
}
.carousel-trigger {
  opacity: 0.5;
}
.active.carousel-trigger {
  opacity: 1;
}
.active-carousel {
  transition: all 0.3s ease-in;
  display: flex;
}
.carousel-transition {
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.3s ease-in;
}

.hero-bg-transform::after {
  content: "";
  position: absolute;
  top: -90px;
  right: 0;
  display: block;
  background-image: url(assets/img/clipShape1.svg);
  background-repeat: no-repeat;
  width: 30%;
  height: 650px;
  z-index: 0;
}

/*  Podcast tabs */
.tab-group .active {
  color: var(--main-color-black);
  border-bottom: 2px solid var(--main-color-black);
}

.h-60 {
  height: 60%;
}
.right-50 {
  right: 50px;
}
.categoryPhoto {
  max-height: 70%;
  overflow: hidden;
}
.categoryCaption {
  height: 30%;
}
.categorySmOption {
  width: 60%;
}
.contents {
  display: contents;
}
.width-150 {
  width: 160%;
}
.background-landing-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  display: block;
  background-color: #98dcf5;
  z-index: 0;
}
.background-landing-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  display: block;
  background-color: #f7ad80;
  z-index: 0;
}
.background-landing-clip::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url(assets/img/clipShape2.svg);
  background-repeat: no-repeat;
  width: 220px;
  height: 338px;
  z-index: 0;
}
.img-cover-height {
  height: 430px;
}

.footer-logo img {
  width: 67px;
  height: 67px;
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
  .carousel-control-group {
    bottom: calc(100% - 250px);
  }
}
@media only screen and (min-width: 360px) and (max-width: 375px) {
  .carousel-control-group {
    bottom: calc(100% - 280px);
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .carousel-control-group {
    bottom: calc(100% - 320px);
  }
}
@media only screen and (min-width: 425px) and (max-width: 480px) {
  .carousel-control-group {
    bottom: calc(100% - 490px);
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .h-half {
    height: 50%;
  }
  .rotate-20 {
    --transform-rotate: 20deg;
  }
  .right-160 {
    right: -160px;
  }
  .bottom-20 {
    bottom: 5px;
  }
  .menu-nav {
    border-top: 1px solid #000000;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .min-h-32 {
    min-height: 6rem;
    max-height: 6rem;
  }
  .customInvisible {
    visibility: visible;
  }
  .width-150 {
    width: 200%;
  }
  .fixed-mobile-menu {
    height: 100vh;
    position: fixed;
    z-index: 20;
    overflow-y: scroll;
  }
  .categorySmPhoto {
    width: 45%;
  }
  .categorySmOption {
    width: 85%;
  }
  .contents {
    display: block;
  }
  .h-60 {
    height: 12%;
  }
  .right-50 {
    right: 0;
  }
  .hero-bg-transform::after {
    top: -210px;
    width: 65%;
  }
  .background-landing-clip::before {
    width: 150px;
    height: 90px;
  }
  .background-landing-clip::after {
    width: 150px;
    height: 90px;
  }
  .bg-sm-dark-gray {
    background-color: #3d3d3d;
  }
  .carousel-control-group {
    z-index: 10;
  }
  .img-cover-height {
    height: auto;
  }
  .footer-logo img {
    width: 50px;
    height: 50px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .fixed-mobile-menu {
    height: 100vh;
    position: fixed;
    z-index: 20;
    overflow-y: scroll;
  }
  /* .carousel-control-group {
    bottom: calc(100% - 280px);
  } */
  .min-h-32 {
    min-height: 8rem;
    max-height: 8rem;
  }
  .h-60 {
    height: 12%;
  }
  .width-150 {
    width: 160%;
  }
  .customInvisible {
    visibility: visible;
  }
  .background-landing-clip::after {
    width: 220px;
    height: 70px;
  }
}
/* ScrollBar Visibility */
.item-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.item-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}