<section class="bg-main-gray">
  <div class="container mx-auto py-6 px-3 md:px-6">
    <div>
      <h1
        class="inline-flex text-xs md:text-3xl font-bold text-black-1 leading-none uppercase border-2 border-gray-900 p-1"
      >
        Win
      </h1>
    </div>
    <div class="mt-4">
      <div
        class="grid grid-cols-6 grid-rows-1 md:grid-rows-2 grid-flow-row md:grid-flow-col gap-4"
      >
        <div
          class="md:row-start-1 md:row-end-3 col-span-6 md:col-span-3 relative bg-white hover:shadow-lg cursor-pointer z-10"
        >
          <div class="w-full h-full">
            <div class="categoryPhoto">
              <img
                src="assets/img/img1/bigImg.png"
                alt="win tickets to see Talib Kweli"
                class="w-full object-none lg:object-cover"
              />
            </div>
            <div
              class="flex justify-between flex-col md:p-4 p-2 categoryCaption"
            >
              <h1
                class="text-base md:text-2xl font-semibold leading-normal hover:text-blue-500"
              >
                Win 2 tickets to see the legend that is Talib Kweli
              </h1>

              <a
                href="#"
                class="inline-block text-sm text-black text-opacity-50 underline hover:text-gray-900 hover:text-opacity-100"
                >Events</a
              >
            </div>
          </div>
        </div>

        <div
          class="row-span-1 col-span-6 md:col-span-3 flex bg-white hover:shadow-lg cursor-pointer"
        >
          <div class="categorySmPhoto w-2/4">
            <a href="#">
              <img
                src="assets/img/img1/smImg.png"
                alt="win tickets to Lionel Live"
                class="md:h-full md:w-full"
              />
            </a>
          </div>
          <div
            class="categorySmOption flex justify-between flex-col p-2 md:p-4"
          >
            <a
              href="#"
              class="text-base md:text-2xl font-semibold leading-normal hover:text-blue-500"
              >Win 2 tickets to Lionel Live in the park</a
            >

            <a
              href="#"
              class="inline-block text-sm text-black text-opacity-50 underline hover:text-gray-900 hover:text-opacity-100"
              >Events</a
            >
          </div>
        </div>

        <div
          class="row-span-1 col-span-6 md:col-span-3 flex bg-white hover:shadow-lg cursor-pointer"
        >
          <div class="categorySmPhoto w-2/4">
            <a href="#">
              <img
                src="assets/img/img1/smImg1.png"
                alt="win tickets to Lionel Live"
                class="md:h-full md:w-full"
              />
            </a>
          </div>
          <div
            class="categorySmOption flex justify-between flex-col p-2 md:p-4"
          >
            <a
              href="#"
              class="text-base md:text-2xl font-semibold leading-normal hover:text-blue-500"
              >Get BT Sport FREE for a year with Virgin Media</a
            >

            <a
              href="#"
              class="inline-block text-sm text-black text-opacity-50 underline hover:text-gray-900 hover:text-opacity-100"
              >Electronics</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>