<!-- Begin: Schedule Tabs -->
<section class="bg-main-gray">
  <div class="container mx-auto py-6 px-3 md:px-6">
    <div class="lg:w-3/5 lg:w-3/5">
      <div class="mt-4">
        <ul class="inline-flex justify-between w-full overflow-x-scroll">
          <li
            id="monday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-black text-white text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Mon
          </li>
          <li
            id="tuesday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Tue
          </li>
          <li
            id="monday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Wed
          </li>
          <li
            id="tuesday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Thu
          </li>
          <li
            id="monday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Fri
          </li>
          <li
            id="tuesday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Sat
          </li>
          <li
            id="monday"
            class="px-2 py-4 md:px-6 md:py-3 tab-pills-2 bg-color-white2 text-black text-xs md:text-sm font-semibold text-center uppercase cursor-pointer border-gray-100 border-l-2 border-r-2 w-full"
          >
            Sun
          </li>
        </ul>
      </div>
      <!-- Monday -->
      <div id="monday-content" class="mt-6 w-full news-content">
        <div class="border-green-600 border-l-4 mb-4 cursor-pointer">
          <div class="bg-white flex ml-1 w-full hover:shadow">
            <div
              class="flex justify-between items-center p-3 md:p-6 w-1/5 lg:w-1/6"
            >
              <span class="text-sm md:text-lg font-bold text-black-1"
                >12:00</span
              >
            </div>
            <div class="contents w-20 md:w-full">
              <img
                src="assets/img/img1/scheduleImg.png"
                alt="schedule img"
              />
            </div>
            <div class="p-4">
              <h4
                class="text-sm md:text-lg capitalize font-medium md:font-semibold text-black"
              >
                All night long
              </h4>
              <p class="hidden md:block text-sm text-black-1">
                Get the latest news, reviews, gossip and commentary from
                across the Continent.
              </p>
            </div>
          </div>
        </div>

        <div class="border-green-600 border-l-4 mb-4 cursor-pointer">
          <div class="bg-white flex ml-1 w-full hover:shadow">
            <div
              class="flex justify-between items-center p-3 md:p-6 w-1/5 lg:w-1/6"
            >
              <span class="text-sm md:text-lg font-bold text-black-1"
                >12:00</span
              >
            </div>
            <div class="contents w-20 md:w-full">
              <img
                src="assets/img/img1/scheduleImg.png"
                alt="schedule img"
              />
            </div>
            <div class="p-4">
              <h4
                class="text-sm md:text-lg capitalize font-medium md:font-semibold text-black"
              >
                All night long
              </h4>
              <p class="hidden md:block text-sm text-black-1">
                Get the latest news, reviews, gossip and commentary from
                across the Continent.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Tuesday  -->
      <div id="tuesday-content" class="mt-6 w-full news-content hidden">
        <div class="border-green-600 border-l-4 mb-4 cursor-pointer">
          <div class="bg-white flex ml-1 w-full hover:shadow">
            <div
              class="flex justify-between items-center p-3 md:p-6 w-1/5 lg:w-1/6"
            >
              <span class="text-sm md:text-lg font-bold text-black-1"
                >12:00</span
              >
            </div>
            <div class="contents w-20 md:w-full">
              <img
                src="assets/img/img1/scheduleImg.png"
                alt="schedule img"
              />
            </div>
            <div class="p-4">
              <h4
                class="text-sm md:text-lg capitalize font-medium md:font-semibold text-black"
              >
                All night long
              </h4>
              <p class="hidden md:block text-sm text-black-1">
                Get the latest news, reviews, gossip and commentary from
                across the Continent.
              </p>
            </div>
          </div>
        </div>

        <div class="border-green-600 border-l-4 mb-4 cursor-pointer">
          <div class="bg-white flex ml-1 w-full hover:shadow">
            <div
              class="flex justify-between items-center p-3 md:p-6 w-1/5 lg:w-1/6"
            >
              <span class="text-sm md:text-lg font-bold text-black-1"
                >1AM</span
              >
            </div>
            <div class="contents w-20 md:w-full">
              <img
                src="assets/img/img1/scheduleImg.png"
                alt="schedule img"
              />
            </div>
            <div class="p-4">
              <h4
                class="text-sm md:text-lg capitalize font-medium md:font-semibold text-black"
              >
                All night long
              </h4>
              <p class="hidden md:block text-sm text-black-1">
                Get the latest news, reviews, gossip and commentary from
                across the Continent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End: Schedule Tabs -->